
<%= javascript_include_tag 'map_form' %>

<%= form_with(model: map) do |form| %>
  <% if map.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
        <% map.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :max_players %>
    <%= form.select :max_players, (2..4).to_a%>

    <div id="players-form">
      <div>
        <label for="player_1">Player 1:</label>
        <input type="text" name="player_1" id="player_1" required>
      </div>
      <div>
        <label for="player_2">Player 2:</label>
        <input type="text" name="player_2" id="player_2" required>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
