<p style="color: green"><%= notice %></p>

<h1>Maps</h1>

<div id="maps">
  <% @maps.each do |map| %>
    <div>
      <%= render map %>
      <h3>
        <%= map.name %>
      </h3>
      <p>
        <%= link_to "Show this map", map %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New map", new_map_path %>
